body {
  margin: 0%;
}

.w3-container,
.w3-panel {
  padding: 0.01em 20px;
}

div {
  border-radius: 5px;
}

p {
  border-right: 1px solid rgb(231, 225, 225);
  padding: 4px 17px 0px 27px;
}
.fstyle {
  margin-left: 40;
  font-family: system-ui;
  font-variant: contextual;
}
.bio {
  display: flex;

  font-family: system-ui;

  padding-left: 19px;
  margin-left: -50;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block: 0.67em;
  margin-inline: 51px 0px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(119, 111, 111);
  margin-inline: 47px 0px;

  /* border-bottom: #5e1313; */
}

.skill {
  font-size: revert;
  font-family: system-ui;
}

.colour {
  background-color: rgb(238, 234, 234);
}

.address {
  display: block;
  padding: 0px 36px 15px 46px;
  font-weight: normal;
  padding: 0px 0px 20px 65px;
  margin-left: -50;
}
.downbio {
  margin: 13px 2px;
  display: block;
  padding: 1px 10px 0px 44px;
  font-weight: normal;
  border-right: 1px solid rgb(192, 186, 186);
}
.h4 {
  display: block;
  /* unicode-bidi: isolate; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 2em;
  border-style: inset;
  border-width: 3px;
  font-size: 20px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

.image {
  width: 170px;
  height: 170px;
  border-radius: 100pc;
  margin-left: 50;
  margin-top: 50;
}
#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: relative;
}
.edu {
  font-family: sans-serif;
  padding: 0px 0px 0px 14px;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.line {
  border-bottom: 1px solid grey;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}

.effect-line {
  margin: 0 0;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

.skill {
  font-family: system-ui;
}

.head {
  font-size: 16px;

  font-family: system-ui;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

li::marker {
  color: rgb(119, 114, 114);
}
.blue-link {
  color: rgb(67, 141, 184);
}

.description {
  display: block;
  margin-block-start: -0.67em;
  margin-block-end: 1.33em;
  margin-inline-start: 38px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.underline {
  display: block;
  /* unicode-bidi: isolate; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 2em;
  border-style: inset;
  border-width: 1px;
  font-size: 20px;
}

.underline-effect {
  display: block;
  /* unicode-bidi: isolate; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0em;
  border-style: inset;
  border-width: 1px;
  font-size: 20px;
}
.d-block {
  padding-left: 19px;
}
.digi-skills {
  display: flex;

  font-family: system-ui;

  margin: 0;
  padding: 0px 0px 0px 13px;
}

.page-title {
  border-bottom: 1px solid grey;
}

.project-disc {
  padding: 0px 0px 0 37px;
}

.pump {
  padding: 0 0 0 34px;
}

.pic {
  padding: 28px 0 0px 30px;
}

@media only screen and (max-width: 430px) {
  body {
    margin: 100px;
  }
  .bio {
    display: block;
    display: block;
    text-align: center;
  }
}
.left,
.right {
  display: none;
}
.stuff {
  width: 100%;
  margin-left: 10px;
}
